@model HomeDetailsViewModel

@{
  var emp = @Model.Employee;
  ViewBag.PageTitle = "Details";
} 

<div>
  <p>Name: @emp.Name</p>
  <p>Email: @emp.Email</p>
  <p>Department: @emp.Department</p>
</div>

